# Week one :

#### - Datatype 

#### - Expression and variable in python

#### - single operations in python

#### - Lists and Tuple in python

#### - Dictionaries

### Data type

In [1]:
L = 11
A = 34
print( L , A)

11 34

In [2]:
x = "Lubna Abdullah "
x

'Lubna Abdullah '

In [3]:
y = {'Name':'Lubna','Age':'22','City':'Dammam'}
print(y,'\n the type is',type(y),'\n')

{'Name': 'Lubna', 'Age': '22', 'City': 'Dammam'}
 the type is <class 'dict'>

In [5]:
s=2
c=4
m=2
print('is g equal to h: ',s==c)
print('is g equal to h: ',m==s)

is g equal to h:  False
is g equal to h:  True

### Expression and variable in python

In [7]:
d = 3
result = d*2+5
d

3

In [9]:
z =56
k =90
b=82
Re =z+b*2/k
print(Re)

57.82222222222222

### Single Operators

#### Assignment Operators

In [15]:
x = 5

x *= 3

print(x)

15

In [11]:
x = 5

x &= 3

print(x)

1

In [13]:
x = 5

x%=6

print(x)

5

In [14]:
x = 9

x <<= 3

print(x)

72

#### Comparison Operators

In [16]:
x = 5
y = 8

print(x >= y)

# returns False because 8 is greater, or equal, to 5

False

In [17]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [18]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

#### Identity Operators

In [19]:
x = ["Lubna", "Abdullah"]
y =  ["Lubna", "Abdullah"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

### List & Tuple

#### LIST

In [20]:
thislist = ["L", "A", "Q"]
print(thislist)

['L', 'A', 'Q']

In [21]:
thislist = ["L", "A", "Q"]
print(len(thislist))

3

#### Tuple

In [22]:
thistuple = ("LUBNA",)
print(type(thistuple))

#NOT a tuple
thistuple = ("Abdullah")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

### Dictionaries

In [25]:
dict = {
  "name": "lubna",
  "age": 22,
  "birthday": 2001
}
print(dict["name"])

lubna