### week 2

#### 1- sets
#### 2- condition and branching
#### 3- loops
#### 4- functions
#### 5- Exceptions Handling
#### 6- Objects and classes

### Sets

In [2]:
set1 = {"Lubna", "Abdullah", "Alqahtani"}
set2 = {3, 12, 21, 11, 1}
set3 = {True, False, False}

In [3]:
print(set1)
print(set2)
print(set3)

{'Abdullah', 'Alqahtani', 'Lubna'}
{1, 3, 21, 11, 12}
{False, True}

###  Condition and Branching

In [4]:
S = 189
X = 13
if S > X:
  print("S is greater than X")
elif S == X:
  print("S and X are equal")
else:
  print("X is greater than S")

S is greater than X

### Loops

In [19]:
Names = ["Lubna", "Yomna", "Suha"]
for x in Names:
    if x == "Yomna":
         continue
    print(x)

Lubna
Suha

In [15]:
for x in "Abdullah":
     print(x)

A
b
d
u
l
l
a
h

### Functions

In [20]:
def my_function():
     print("Hello from a function")

my_function()

Hello from a function

In [22]:
def my_function(std1, std2, std3):
    print("The best student " + std2)

my_function(std1 = "Yomna", std2 = "Yara", std3 = "Yusra")

The best student Yara

### Exceptions Handling

In [23]:
try :
    num = int(input('Enter your num: '))
    x = 21
    risk = x * num
    print(num)
except ZeroDivisionError:
    print('num cannot be 0.')
except ValueError:
    print('Invalid value')

Enter your num: 20
20

### Object and Classes

In [54]:
class DS:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age
    def myfunc(abc):
        print("Hello my name is " + abc.name)
DX = DS("lubna", 96)
DX.myfunc()

Hello my name is lubna